In [1]:
%reload_ext ishbook
import pandas as pd
import plus
import datetime as dt
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [6]:
lockin2016 = plus.read_google_sheet('1895asIwK2--kfCvKhq2kBTuk11yqOeFg3oO4ogqem4g', sheet = 'Non-featured advertisers', intype = 'key', index = False)

In [7]:
lockin2016

,Advertiser ID,,Name,"Status (1=active, 2=pending authorization)",Advertiser Type (only SA and DE allowed),Current Budget (NULL means we didn't try to compute it because of other criteria not met),Required Budget (NULL means we didn't try to compute it because of other criteria not met),Job Count (NULL means we didn't try to compute it because of other criteria not met),Verified Company Claims (NULL means we didn't try to compute it because of other criteria not met),Notes
0,433,https://adcentral.indeed.com/crm/history?aid=433,Reflectx Staffing,1,Staffing Agency,250000,2422000,1211,1,
1,2518,https://adcentral.indeed.com/crm/history?aid=2518,Robert Half International (Jason Ngai),2,Staffing Agency,NULL,NULL,NULL,NULL,
2,5078,https://adcentral.indeed.com/crm/history?aid=5078,Modis (owned by Adecco),1,Staffing Agency,4050000,6188000,3094,2,
3,7852,https://adcentral.indeed.com/crm/history?aid=7852,TMP - Boston - Premise Health (Take Care Healt...,2,Direct Employer,NULL,NULL,NULL,NULL,
4,8863,https://adcentral.indeed.com/crm/history?aid=8863,TMP - Atlanta - Aarons Rents,1,Direct Employer,1900233,2524500,1683,5,
5,10358,https://adcentral.indeed.com/crm/history?aid=1...,Gifted Healthcare,1,Staffing Agency,850000,1500000,475,1,
6,12159,https://adcentral.indeed.com/crm/history?aid=1...,U.S. HealthWorks Medical Group,1,Direct Employer,1250000,1300000,319,1,
7,16040,https://adcentral.indeed.com/crm/history?aid=1...,"ENSCO, Inc.",1,Direct Employer,200000,450000,49,2,
8,17645,https://adcentral.indeed.com/crm/history?aid=1...,BB&T,1,Direct Employer,1561500,1650000,1100,1,
9,21309,https://adcentral.indeed.com/crm/history?aid=2...,Apex Systems,1,Staffing Agency,2385000,4578000,2289,1,
10,24329,https://adcentral.indeed.com/crm/history?aid=2...,"Superior Air-Ground Ambulance, Inc. (Illinois ...",1,Direct Employer,700000,800000,56,1,
11,24853,https://adcentral.indeed.com/crm/history?aid=2...,Family Christian,1,Direct Employer,300000,450000,23,1,
12,25048,https://adcentral.indeed.com/crm/history?aid=2...,TMP - NY-SJA - CitiGroup1 National (ClickCast),1,Direct Employer,908752,18553500,12369,1,
13,25223,https://adcentral.indeed.com/crm/history?aid=2...,Staff Management,1,Staffing Agency,179787,1500000,449,1,
14,30067,https://adcentral.indeed.com/crm/history?aid=3...,"NCCI Holdings, Inc.",1,Direct Employer,260000,300000,12,2,
15,33675,https://adcentral.indeed.com/crm/history?aid=3...,Walgreens,1,Direct Employer,2777700,3129000,2086,1,
16,36945,https://adcentral.indeed.com/crm/history?aid=3...,"The Center for Autism and Related Disorders, Inc.",1,Direct Employer,200091,1300000,340,2,
17,39040,https://adcentral.indeed.com/crm/history?aid=3...,Convergys Global Services GmbH,1,Direct Employer,146101,200000,0,2,
18,39057,https://adcentral.indeed.com/crm/history?aid=3...,Language Stars,1,Direct Employer,750000,800000,88,1,
19,39751,https://adcentral.indeed.com/crm/history?aid=3...,"Colony Brands, Inc.",1,Direct Employer,500000,800000,82,2,
20,40834,https://adcentral.indeed.com/crm/history?aid=4...,Covent Bridge,1,Direct Employer,150000,300000,17,1,
21,41128,https://adcentral.indeed.com/crm/history?aid=4...,Mary Lanning Memorial Hospital,1,Direct Employer,600000,800000,52,3,
22,49665,https://adcentral.indeed.com/crm/history?aid=4...,Shelter Insurance,1,Direct Employer,760000,800000,62,1,
23,53107,https://adcentral.indeed.com/crm/history?aid=5...,TCF Bank,1,Direct Employer,303889,1300000,300,1,
24,53138,https://adcentral.indeed.com/crm/history?aid=5...,Dillon Transport,1,Direct Employer,500000,450000,50,0,
25,56544,https://adcentral.indeed.com/crm/history?aid=5...,Transworld for Red Robin,1,Direct Employer,1205298,1300000,748,2,
26,57086,https://adcentral.indeed.com/crm/history?aid=5...,RXPLUS PHARMACY,1,Direct Employer,168712,450000,40,1,
27,57356,https://adcentral.indeed.com/crm/history?aid=5...,"Weltman, Weinberg & Reis Co., LPA",1,Direct Employer,300000,450000,24,1,
28,63184,https://adcentral.indeed.com/crm/history?aid=6...,TSYS - Central Payment,1,Direct Employer,300000,450000,38,1,
29,63544,https://adcentral.indeed.com/crm/history?aid=6...,Hightower Advertising for XPO Logistics,1,Direct Employer,350000,2662500,1775,0,
...,...,...,...,...,...,...,...,...,...,...
424,9673997,https://adcentral.indeed.com/crm/history?aid=9...,Pivotal Integrated HR Solutions,1,none,100000,0,0,0,
425,9674026,https://adcentral.indeed.com/crm/history?aid=9...,Pivotal Integrated HR Solutions,1,none,80253,0,35,0,
426,9674051,https://adcentral.indeed.com/crm/history?aid=9...,Pivotal Integrated HR Solutions,1,none,100000,0,0,0,
427,9674073,https://adcentral.indeed.com/crm/history?aid=9...,Pivotal Integrated HR Solutions,1,Staffing Agency,100000,250000,0,0,
428,9676510,https://adcentral.indeed.com/crm/history?aid=9...,Templeton and Partners,1,Staffing Agency,0,200000,38,1,
429,9682421,https://adcentral.indeed.com/crm/history?aid=9...,SIC for COMPLETUDE,1,Direct Employer,296406,650000,463,2,
430,9728905,https://adcentral.indeed.com/crm/history?aid=9...,TMP - Florida - TROC - Ralph Valles (Hosted Jobs),1,Direct Employer,65335,300000,0,2,
431,9740963,https://adcentral.indeed.com/crm/history?aid=9...,Adver-Online voor Bartiméus,1,Direct Employer,225000,225000,10,0,
432,9800428,https://adcentral.indeed.com/crm/history?aid=9...,Clique Hiring Solutions,2,Staffing Agency,NULL,NULL,NULL,NULL,
433,9888444,https://adcentral.indeed.com/crm/history?aid=9...,CohnReznick,2,Direct Employer,NULL,NULL,NULL,NULL,
434,9893424,https://adcentral.indeed.com/crm/history?aid=9...,CKR for ReadyNurse Staffing Services,2,Staffing Agency,NULL,NULL,NULL,NULL,
435,9893730,https://adcentral.indeed.com/crm/history?aid=9...,"Winston Brands, Inc.",1,Direct Employer,150000,300000,0,0,
436,9964041,https://adcentral.indeed.com/crm/history?aid=9...,Prism7 Recruitment,1,none,0,0,0,1,
437,9984842,https://adcentral.indeed.com/crm/history?aid=9...,CKR for ReadyNurse Resume,1,Staffing Agency,0,300000,0,2,
438,9996247,https://adcentral.indeed.com/crm/history?aid=9...,HireClix for Uber (EMEA),1,Direct Employer,0,1300000,741,0,
439,10088136,https://adcentral.indeed.com/crm/history?aid=1...,Transcom,1,Direct Employer,1700000,300000,25,0,
440,10132304,https://adcentral.indeed.com/crm/history?aid=1...,V-NOM,2,Staffing Agency,NULL,NULL,NULL,NULL,
441,10144260,https://adcentral.indeed.com/crm/history?aid=1...,TMP - Florida - TROC - Miriam Castillo (Hosted...,1,Direct Employer,62445,300000,0,1,
442,10194927,https://adcentral.indeed.com/crm/history?aid=1...,Auto Value/Bumper to Bumper Service Centers,1,Direct Employer,0,300000,0,1,
443,10215109,https://adcentral.indeed.com/crm/history?aid=1...,Natures Way Foods,2,Direct Employer,NULL,NULL,NULL,NULL,
444,10227602,https://adcentral.indeed.com/crm/history?aid=1...,Resource Solutions for VISA,1,Direct Employer,275000,550000,891,1,
445,10230072,https://adcentral.indeed.com/crm/history?aid=1...,Barnes Roffe LLP,2,Direct Employer,NULL,NULL,NULL,NULL,
446,10233619,https://adcentral.indeed.com/crm/history?aid=1...,Saint Marys College of California,2,none,NULL,NULL,NULL,NULL,
447,10239938,https://adcentral.indeed.com/crm/history?aid=1...,Partnerships in Care,1,Direct Employer,566155,630600,1051,0,
448,10245548,https://adcentral.indeed.com/crm/history?aid=1...,The Wine Group LLC,1,Direct Employer,450000,800000,61,1,
449,10263939,https://adcentral.indeed.com/crm/history?aid=1...,Ideuzo for Micropole,2,Direct Employer,NULL,NULL,NULL,NULL,
450,10307403,https://adcentral.indeed.com/crm/history?aid=1...,Axial for DEF,2,Direct Employer,NULL,NULL,NULL,NULL,
451,10320499,https://adcentral.indeed.com/crm/history?aid=1...,ORC for William Sinclair,1,Staffing Agency,118205,225000,0,0,
452,10441049,https://adcentral.indeed.com/crm/history?aid=1...,"HTI - Human Technologies, Inc.",1,Staffing Agency,225000,300000,0,0,
453,10455294,https://adcentral.indeed.com/crm/history?aid=1...,KRT Marketing for Lee Enterprises- Resume,2,Direct Employer,NULL,NULL,NULL,NULL,

In [13]:
rep_ids = plus.get_advertiser_info(lockin2016['Advertiser ID'].unique())['service_rep'].reset_index()

In [91]:
plus.get_user_info(rep_ids['service_rep'].unique())#[['firstname', 'lastname']]

,active,email,firstname,lastname,username
1988,1,sarahd@indeed.com,Sarah,Doyle,sarahd
5551,1,annkv@indeed.com,Ann,Kveglis,annkv
1852,1,cindy@indeed.com,Cindy,Torres,cindy
2787,1,mamendola@indeed.com,Maxx,Amendola,mamendola
6011,1,katrine@indeed.com,Katrine,Sorokin,katrine
3509,1,eashley@indeed.com,Elaine,Ashley,eashley
5089,1,nataliec@indeed.com,Natalie,Cruz,nataliec
4730,1,jfajardo@indeed.com,Jason,Fajardo,jfajardo
4196,1,rhmonteith@indeed.com,Raquel,Hutchinson-Monteith,rhmonteith
4599,1,nicholasv@indeed.com,Nicholas,Vonderheyde,nicholasv
3286,1,skane@indeed.com,Shannon,Kane,skane
3646,1,isobel@indeed.com,Isobel,Varhol,isobel
4848,1,jmacdonald@indeed.com,Jessica,MacDonald,jmacdonald
4371,1,ebouley@indeed.com,Eric,Bouley,ebouley
2411,1,neema@indeed.com,Neema,Mirchi,neema
4852,1,antje@indeed.com,Antje,Barkhau,antje
3912,1,edifalco@indeed.com,Erica,DiFalco,edifalco
2954,1,kathleenm@indeed.com,Kathleen,McLaughlin,kathleenm
2711,1,sharedclientsupport@indeed.com,Shared,Client Support,sharedclientsupport
6629,1,lisyp@indeed.com,Lisy,Pitruzzella,lisyp
3243,1,dlauro@indeed.com,Danny,Lauro,dlauro
2281,1,kaitie@indeed.com,Kaitie,Rehmann,kaitie
5611,1,brittneyr@indeed.com,Brittney,Raymunt,brittneyr
3204,1,scalderon@indeed.com,Stephanie,Calderon,scalderon
1883,1,cmonahan@indeed.com,Caroline,Monahan,cmonahan
6449,1,nahostedjobsupport@indeed.com,National Accounts,Hosted Job Support,nahostedsupport
4477,1,anthonyb@indeed.com,Anthony,Benvenuti,anthonyb
4218,1,eortiz@indeed.com,Evan,Ortiz,eortiz
4416,1,natasha@indeed.com,Natasha,Kappaya,natasha
3911,1,jhubert@indeed.com,Jonathan,Hubert,jhubert
...,...,...,...,...,...
4418,1,mfrancia@indeed.com,Matthew,Francia,mfrancia
4475,1,sarahc@indeed.com,Sarah,Carter,sarahc
4857,1,terry@indeed.com,Terry,Obekho,terry
4452,1,mirna@indeed.com,Mirna,Armeli,mirna
3011,1,DCASharedSupport@indeed.com,DCA Shared,Client Support,DCASharedSupport
6494,1,thibaud@indeed.com,Thibaud,Brunet-Charpentier,thibaud
2,1,,Small Business,Support,smbsupp
4851,1,cahan@indeed.com,Cahan,Long,cahan
4219,1,christy@indeed.com,Christy,Bui,christy
3312,1,abe@indeed.com,Abe,Martinian,abe
4451,1,sue@indeed.com,Sue,Ellen Balai,sue
4158,1,agencyhostedsupport@indeed.com,Agency Hosted,Job Support,agencyhostedsupport
3497,1,roseanne@indeed.com,Roseanne,Cronly,roseanne
4820,1,mcalabrese@indeed.com,Michael,Calabrese,mcalabrese
4310,1,naomis@indeed.com,Naomi,Seki,naomis
79,1,amanda@indeed.com,Amanda,Sempey,amanda
1333,1,kdigeronimo@indeed.com,Katie,DiGeronimo,kdigeronimo
6256,1,agilligan@indeed.com,Amy,Gilligan,agilligan
4545,1,cady@indeed.com,Cady,Taylor,cady
5605,1,svea@indeed.com,Svea,von Gagern,svea
3457,1,bquirk@indeed.com,Brittany,Quirk,bquirk
3934,1,jmorel@indeed.com,Jeffrey,Morel,jmorel
4600,1,crodriguez@indeed.com,Christina,Rodriguez,crodriguez
3919,1,laila@indeed.com,Laila,Cogranne,laila
5578,1,soraya@indeed.com,Soraya,Heus,soraya
5024,1,clynch@indeed.com,Casey,Lynch,clynch
4593,1,jfedor@indeed.com,Jackie,Fedor,jfedor
1932,1,michiel@indeed.com,Michiel,Declercq,michiel
6455,1,arran@indeed.com,Arran,Cutts,arran
1979,1,vbuscaglia@indeed.com,Valerie,Buscaglia,vbuscaglia

In [92]:
rep_names = plus.get_user_info(rep_ids['service_rep'].unique())[['firstname', 'lastname', 'email']].reset_index()

In [93]:
rep_names['Service Rep'] = rep_names['firstname'] + " " + rep_names['lastname']

In [94]:
rep_names.head()

   index firstname  lastname                 email      Service Rep
0   1988     Sarah     Doyle     sarahd@indeed.com      Sarah Doyle
1   5551       Ann   Kveglis      annkv@indeed.com      Ann Kveglis
2   1852     Cindy    Torres      cindy@indeed.com     Cindy Torres
3   2787      Maxx  Amendola  mamendola@indeed.com    Maxx Amendola
4   6011   Katrine   Sorokin    katrine@indeed.com  Katrine Sorokin

In [45]:
lockin2016.head(1)

,Advertiser ID,,Name,"Status (1=active, 2=pending authorization)",Advertiser Type (only SA and DE allowed),Current Budget (NULL means we didn't try to compute it because of other criteria not met),Required Budget (NULL means we didn't try to compute it because of other criteria not met),Job Count (NULL means we didn't try to compute it because of other criteria not met),Verified Company Claims (NULL means we didn't try to compute it because of other criteria not met),Notes
0,433,https://adcentral.indeed.com/crm/history?aid=433,Reflectx Staffing,1,Staffing Agency,250000,2422000,1211,1,

In [44]:
rep_ids.head(1)

   index  service_rep
0    433         1988

In [37]:
lockin2016['Advertiser ID'] = lockin2016['Advertiser ID'].astype(int)

In [95]:
rep_assigned = lockin2016.merge(rep_ids, how = 'left', left_on = 'Advertiser ID', right_on = 'index').merge(rep_names, how = 'left', left_on = 'service_rep', right_on = 'index')

In [85]:
columns_to_filter = []
x = 0

while x < 16:
    columns_to_filter.append(x)
    x+=1
    if x == 16:
        break
    if x > 10:
        columns_to_filter.pop()
    
    

#rep_assigned[]

In [96]:
rep_assigned['email'].to_clipboard()

In [5]:
repinfo = plus.get_user_info(affectedreps.service_rep.unique())[['username','firstname','lastname']]
repinfo.reset_index(inplace=True)
repinfo.tail()

LDAP name:
dmoncada
Password:
········

     index username firstname lastname
114    255    brian     Brian    Gavin
115   2028    danap      Dana    Paice
116   1532  robertm    Robert  McElwee
117   4787   kwargo  Kristina    Wargo
118    970  kamilah   Kamilah    Jones

In [9]:
affectednames = affectedreps.merge(repinfo, left_on='service_rep', right_on='index')
affectednames.head()

,advertiser_id,account_id,sales_rep,Sales Rep Name,Sales Rep Team,service_rep,strategic_rep,agency_rep,company,account_email,index,username,firstname,lastname
0,6656181,231810040,3821.0,Celine Machefert,Agency-US-West,2,NaN,NaN,AltaMed Health Services,ngkeys@la.altamed.org,2,smbsupp,Small Business,Support
1,21630,7702492,1.0,Not Applicable,Not Applicable,2,NaN,NaN,The Visiting Nurses Association,slewis@thevnacares.org,2,smbsupp,Small Business,Support
2,25614,9410348,1.0,Not Applicable,Not Applicable,2,NaN,NaN,Knoxville-Knox County Head Start,headstartemployment@comcast.net,2,smbsupp,Small Business,Support
3,25645,9423940,1.0,Not Applicable,Not Applicable,2,NaN,NaN,Wunderman Y&R Brands,jeff.b.hall@yrbrands.com,2,smbsupp,Small Business,Support
4,27771,10298828,1.0,Not Applicable,Not Applicable,2,NaN,NaN,College Nannies & Tutors,esandweiss@collegenannies.com,2,smbsupp,Small Business,Support

In [10]:
affectednames.to_excel('affectedname.xlsx', sheet_name='sheet1', index=False)

In [5]:
indeedapply = indeedapply.rename(columns={'advertiser ID':'advertiser_id'})

In [9]:
locales = plus.get_advertiser_info(indeedapply.advertiser_id)[['locale','billing_country','account_email','industry']]

In [10]:
locales.tail(1)

              locale billing_country     account_email                industry
advertiser_id
922296            en              US  Thomas@aieaz.com  Technology/Information

In [7]:
applybylocale = indeedapply.merge(locales,how='left',left_on='advertiser_id',right_index=True)
applybylocale.tail()

,advertiser_id,Currency,Clicks,Dollar Cost,Millicents,advertiser delimited,service rep,sales rep,agency rep,strategic rep,locale,billing_country
80969,7174338,usd,1,0.0,0,"7174338,",smbsupp,na,NaN,NaN,en,US
80970,7478565,usd,1,0.0,0,"7478565,",smbsupp,na,NaN,NaN,en,US
80971,80730,usd,1,0.0,0,"80730,",bob,na,NaN,jerry,en,US
80972,888191,usd,1,0.0,0,"888191,",sharedclientsupport,mgarrido,NaN,NaN,en,US
80973,922296,usd,1,0.0,0,"922296,",smbsupp,na,NaN,NaN,en,US

In [8]:
teams = plus.read_google_sheet('114yDQZ7Fi6AhXBg2IhO3NZxEmAcvL12AuyXSIsZN38U',intype='key',header=True,index=False,sheet='Sheet1')

In [9]:
applywteam = applybylocale.merge(teams,how='left',left_on='service rep',right_on='username')

In [10]:
def team(x):
    if x['service rep']=='CAsharedsupport':
        return 'CA Shared Support'
    if x['service rep']=='APACSharedSupport':
        return 'APAC Shared Support'
    if x['service rep']=='DCASharedSupport':
        return 'DCA Shared Support'
    if x['service rep']=='EMEAsharedsupport':
        return 'EMEA SharedSupport'
    if x['service rep']=='agencyhostedsupport':
        return 'Agency Hosted Job Support'
    if x['service rep']=='sharedclientsupport':
        return 'Shared Client Support'
    if x['service rep']=='smbsupp':
        return 'Small Business Support'
    else:
        return x['Team']
    
applywteam['Team']=applywteam.apply(team,axis=1)

In [11]:
applywteam.tail()

,advertiser_id,Currency,Clicks,Dollar Cost,Millicents,advertiser delimited,service rep,sales rep,agency rep,strategic rep,locale,billing_country,Email,Team,Location,username
80969,7174338,usd,1,0.0,0,"7174338,",smbsupp,na,NaN,NaN,en,US,NaN,Small Business Support,NaN,NaN
80970,7478565,usd,1,0.0,0,"7478565,",smbsupp,na,NaN,NaN,en,US,NaN,Small Business Support,NaN,NaN
80971,80730,usd,1,0.0,0,"80730,",bob,na,NaN,jerry,en,US,bob@indeed.com,ClientSupportSTM2,STM,bob
80972,888191,usd,1,0.0,0,"888191,",sharedclientsupport,mgarrido,NaN,NaN,en,US,NaN,Shared Client Support,NaN,NaN
80973,922296,usd,1,0.0,0,"922296,",smbsupp,na,NaN,NaN,en,US,NaN,Small Business Support,NaN,NaN

In [12]:
applywteamf = applywteam[['advertiser_id','Currency','Clicks','Dollar Cost','Millicents','advertiser delimited','service rep','Team','billing_country','locale','sales rep','agency rep','strategic rep']]
applywteamf.tail()

,advertiser_id,Currency,Clicks,Dollar Cost,Millicents,advertiser delimited,service rep,Team,billing_country,locale,sales rep,agency rep,strategic rep
80969,7174338,usd,1,0.0,0,"7174338,",smbsupp,Small Business Support,US,en,na,NaN,NaN
80970,7478565,usd,1,0.0,0,"7478565,",smbsupp,Small Business Support,US,en,na,NaN,NaN
80971,80730,usd,1,0.0,0,"80730,",bob,ClientSupportSTM2,US,en,na,NaN,jerry
80972,888191,usd,1,0.0,0,"888191,",sharedclientsupport,Shared Client Support,US,en,mgarrido,NaN,NaN
80973,922296,usd,1,0.0,0,"922296,",smbsupp,Small Business Support,US,en,na,NaN,NaN

In [13]:
applywteamf.to_csv('applywithteams.csv')

In [ ]:
%%ish

weekly_pull = FROM advertiserevent 2016-05-01 today WHERE