In [3]:
%reload_ext ishbook
import pandas as pd
import plus
import datetime as dt
import numpy as np

In [ ]:
start = 2016-07-01
end = 2016-07-29

In [4]:
%%ish

churn_advertisers = from advertiserevent 30d today where activity_type = "30D_AFTER_LAST_REVENUE" group by advertiser_id,unixtime
output = None

In [5]:
churn_advertisers

       advertiser_id    unixtime
0                  3  1467189922  1
1              39183  1467189922  1
2              64025  1467189922  1
3              69490  1467189922  1
4              77851  1467189922  1
5              86723  1467189922  1
6              94175  1467189922  1
7              95938  1467189922  1
8             101242  1467189922  1
9             101721  1467189922  1
10            101867  1467189922  1
11            102166  1467189922  1
12            104580  1467189922  1
13            107881  1467189922  1
14            109882  1467189922  1
15            118583  1467189922  1
16            122814  1467189922  1
17            126352  1467189922  1
18            129696  1467189922  1
19            130353  1467189922  1
20            131064  1467189922  1
21            135308  1467189922  1
22            142164  1467189922  1
23            143242  1467189922  1
24            146318  1467189922  1
25            148261  1467189922  1
26            151568  1467189922  1
27            153525  1467189922  1
28            164411  1467189922  1
29            168828  1467189922  1
...              ...         ... ..
51975        7800865  1469695523  1
51976        7800900  1469695523  1
51977        7803700  1469695523  1
51978        7804124  1469695523  1
51979        7804151  1469695523  1
51980        7804406  1469695523  1
51981        7805269  1469695523  1
51982        7805472  1469695523  1
51983        7805678  1469695523  1
51984        7806169  1469695523  1
51985        7806313  1469695523  1
51986        7806983  1469695523  1
51987        7807276  1469695523  1
51988        7809727  1469695523  1
51989        7810640  1469695523  1
51990        7811213  1469695523  1
51991        7812460  1469695523  1
51992        7813537  1469695523  1
51993        7813779  1469695523  1
51994        7814106  1469695523  1
51995        7814488  1469695523  1
51996        7815531  1469695523  1
51997        7816430  1469695523  1
51998        7816961  1469695523  1
51999        7817898  1469695523  1
52000        7817981  1469695523  1
52001        7818392  1469695523  1
52002        7818607  1469695523  1
52003        7822220  1469695523  1
52004        7825869  1469695523  1

[52005 rows x 3 columns]

In [19]:
last_rev_date = plus.get_advertiser_info(churn_advertisers.advertiser_id)[['last_revenue_date']]

In [24]:
last_rev_date.reset_index(inplace=True)

In [40]:
churned_with_rev = churn_advertisers.merge(last_rev_date,how="inner",on="advertiser_id")
churned_with_rev = churned_with_rev[(churned_with_rev['last_revenue_date'] < '2016-07-29')]
churned_with_rev

       advertiser_id    last_revenue_date
0                  3  1        2016-05-30
1                 75  1        2016-06-17
2                127  1        2016-07-22
3                299  1        2016-06-08
6               1171  1        2016-07-01
7               2020  1        2016-06-24
8               2022  1        2016-06-10
9               2059  1        2016-06-01
10              2175  1        2016-06-09
12              3650  1        2016-05-31
13              3729  1        2016-06-24
14              4004  1        2016-06-28
15              4800  1        2016-06-17
16              4915  1        2016-06-28
17              5414  1        2016-06-08
18              5458  1        2016-06-20
19              6462  1        2016-06-14
20              6680  1        2016-06-05
21              6947  1        2016-06-10
22              7713  1        2016-07-27
23              7822  1        2016-06-13
24              8605  1        2016-07-19
25              8925  1        2016-06-27
26              9043  1        2016-06-03
27              9083  1        2016-06-06
28              9237  1        2016-06-09
29              9300  1        2016-06-09
30              9310  1        2016-06-25
31              9606  1        2016-06-21
32              9970  1        2016-06-22
...              ... ..               ...
51975        7800900  1        2016-06-28
51976        7801866  1        2016-06-27
51977        7803700  1        2016-06-28
51978        7804124  1        2016-06-28
51979        7804151  1        2016-06-28
51980        7804406  1        2016-06-28
51981        7805269  1        2016-06-28
51982        7805472  1        2016-06-28
51983        7805678  1        2016-06-28
51984        7806169  1        2016-06-28
51985        7806313  1        2016-06-28
51986        7806983  1        2016-06-28
51987        7807276  1        2016-06-28
51988        7809727  1        2016-06-28
51989        7810640  1        2016-06-28
51990        7811213  1        2016-06-28
51991        7812460  1        2016-06-28
51992        7813537  1        2016-06-28
51993        7813779  1        2016-06-28
51994        7814106  1        2016-06-28
51995        7814488  1        2016-06-28
51996        7815531  1        2016-06-28
51997        7816430  1        2016-06-28
51998        7816961  1        2016-06-28
51999        7817898  1        2016-06-28
52000        7817981  1        2016-06-28
52001        7818392  1        2016-06-28
52002        7818607  1        2016-06-28
52003        7822220  1        2016-06-28
52004        7825869  1        2016-06-28

[48102 rows x 3 columns]

In [8]:
churn_reasons = pd.read_excel('Churn_reasons.xlsx',sheet='Sheet 2')

In [9]:
churn_reasons

                                        Churn Reasons
0            BID_MANAGEMENT_ALERT,OVER_MONTHLY_BUDGET
1             BID_MANAGEMENT_ALERT,PAUSE_AD,PAUSE_JOB
2             BID_MANAGEMENT_ALERT,PAUSE_JOB,PAUSE_AD
3   BID_MANAGEMENT_ALERT,PAUSE_JOB,PAUSE_AD,DELETE_AD
4                                 CREDITCARD_DECLINED
5   CREDITCARD_DECLINED,CREDITCARD_NOTAUTHORIZED,D...
6                       CREDITCARD_DECLINED,DELETE_AD
7            CREDITCARD_DECLINED,DELETE_AD,DELETE_JOB
8              CREDITCARD_DECLINED,PAUSE_AD,PAUSE_JOB
9                            DAILY_REVENUE_DROP_LARGE
10                                          DELETE_AD
11                               DELETE_AD,DELETE_JOB
12           DELETE_AD,DELETE_JOB,CREDITCARD_DECLINED
13  DELETE_AD,DELETE_JOB,CREDITCARD_NOTAUTHORIZED,...
14            DELETE_AD,DELETE_JOB,PAUSE_AD,PAUSE_JOB
15            DELETE_AD,DELETE_JOB,PAUSE_JOB,PAUSE_AD
16                                         DELETE_JOB
17                               DELETE_JOB,DELETE_AD
18           DELETE_JOB,DELETE_AD,OVER_MONTHLY_BUDGET
19                               OVER_LIFETIME_BUDGET
20           OVER_LIFETIME_BUDGET,CREDITCARD_DECLINED
21          OVER_LIFETIME_BUDGET,DELETE_AD,DELETE_JOB
22          OVER_LIFETIME_BUDGET,DELETE_JOB,DELETE_AD
23            OVER_LIFETIME_BUDGET,PAUSE_AD,PAUSE_JOB
24            OVER_LIFETIME_BUDGET,PAUSE_JOB,PAUSE_AD
25                                OVER_MONTHLY_BUDGET
26           OVER_MONTHLY_BUDGET,DELETE_JOB,DELETE_AD
27           OVER_MONTHLY_BUDGET,OVER_LIFETIME_BUDGET
28                                 PAUSE_AD,PAUSE_JOB
29                       PAUSE_AD,PAUSE_JOB,DELETE_AD
30            PAUSE_AD,PAUSE_JOB,DELETE_AD,DELETE_JOB
31            PAUSE_AD,PAUSE_JOB,DELETE_JOB,DELETE_AD
32                     PAUSE_JOB,OVER_LIFETIME_BUDGET
33                                 PAUSE_JOB,PAUSE_AD
34            PAUSE_JOB,PAUSE_AD,DELETE_AD,DELETE_JOB