In [1]:
import pandas as pd

from pandas import Series, DataFrame

import datetime as dt

In [34]:
us_gdp = pd.read_csv("usgs_1930_2014.csv", index_col = 0, parse_dates = True)#, header = None, squeeze = True)

In [48]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt

def adjusted_gdp(usgs, cpi, start, end):
    
    start = str(start)
    end = str(end)
    
    us_gdp = pd.read_csv(usgs, index_col = 0, parse_dates = True)
    us_gdp = us_gdp[start : end]
    us_gdp = us_gdp.shift(periods=1, freq='A', axis = 0)
    
    cpiai = pd.read_csv("cpiai.csv", index_col = 0, parse_dates = True)
    cpiai = cpiai[start : end]
    cpiai = cpiai.groupby(cpiai.index.year).mean()
    cpiai.index = pd.to_datetime(cpiai.index.astype(str))
    cpiai = cpiai.shift(periods=1, freq='A', axis = 0)
    
    adjusted_gdp = us_gdp.merge(cpiai, left_index=True, right_index=True)
    adjusted_gdp['adjusted_gdp'] = round(adjusted_gdp['GDP-US $ billion nominal'] / adjusted_gdp['Index'] * 100, 2)
    return adjusted_gdp['adjusted_gdp']

In [50]:
adjusted_gdp("usgs_1930_2014.csv", "cpiai.csv", 2002, 2014)

2002-12-31    6104.35
2003-12-31    6258.05
2004-12-31    6499.78
2005-12-31    6705.56
2006-12-31    6874.24
2007-12-31    6983.76
2008-12-31    6837.03
2009-12-31    6720.47
2010-12-31    6653.44
2011-12-31    6650.06
2012-12-31    6771.70
Freq: A-DEC, Name: adjusted_gdp, dtype: float64

In [43]:
cpiai = pd.read_csv("cpiai.csv", index_col = 0, parse_dates = True)
cpiai = cpiai[str(start): str(end)]
cpiai = cpiai.groupby(cpiai.index.year).mean()
cpiai.index = pd.to_datetime(cpiai.index.astype(str))

cpiai = cpiai.shift(periods=1, freq='A', axis = 0)

adjusted_gdp = us_gdp.merge(cpiai, left_index=True, right_index=True)

adjusted_gdp['adjusted_gdp'] = round(adjusted_gdp['GDP-US $ billion nominal'] / adjusted_gdp['Index'] * 100, 2)

adjusted_gdp['adjusted_gdp']

In [45]:
adjusted_gdp = us_gdp.merge(cpiai, left_index=True, right_index=True)

adjusted_gdp['adjusted_gdp'] = round(adjusted_gdp['GDP-US $ billion nominal'] / adjusted_gdp['Index'] * 100, 2)

adjusted_gdp['adjusted_gdp']

2006-12-31    6874.24
2007-12-31    6983.76
2008-12-31    6837.03
Freq: A-DEC, Name: adjusted_gdp, dtype: float64

In [42]:
pd.to_datetime(cpiai.index.astype(str))

DatetimeIndex(['2006-01-01', '2007-01-01', '2008-01-01'], dtype='datetime64[ns]', freq=None)

In [6]:
adjusted_gdp = us_gdp.merge(cpiai, left_index=True, right_index=True)

In [7]:
adjusted_gdp['adjusted_gdp'] = round(adjusted_gdp['GDP-US $ billion nominal'] / adjusted_gdp['Index'] * 100, 2)

In [8]:
adjusted_gdp

,GDP-US $ billion nominal,Population-US million,Total Spending-total $ billion nominal,type,Index,Inflation,adjusted_gdp
2006,13857.9,298.145,4720.89,a,201.591667,0.210833,6874.24
2007,14480.3,300.807,4948.04,a,207.342417,0.334167,6983.76
2008,14720.3,303.492,5360.08,a,215.302500,0.012500,6837.03

In [9]:
adjusted_gdp['adjusted_gdp']

2006    6874.24
2007    6983.76
2008    6837.03
Freq: A-DEC, Name: adjusted_gdp, dtype: float64

In [299]:
cpiai = pd.read_csv("cpiai.csv", index_col = 0, parse_dates = True)#.to_period(freq='A-DEC')

cpiai = cpiai[str(start): str(end)]

In [308]:
cpiai.index.to_period('A')

PeriodIndex(['2006', '2006', '2006', '2006', '2006', '2006', '2006', '2006',
             '2006', '2006', '2006', '2006', '2007', '2007', '2007', '2007',
             '2007', '2007', '2007', '2007', '2007', '2007', '2007', '2007',
             '2008', '2008', '2008', '2008', '2008', '2008', '2008', '2008',
             '2008', '2008', '2008', '2008'],
            dtype='period[A-DEC]', freq='A-DEC')

In [11]:
us_gdp = us_gdp[str(start) : str(end)]

In [33]:
us_gdp.shift(periods=1, freq='A', axis = 0).index

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [232]:
test = pd.read_csv("usgs_1930_2014.csv", index_col = 0, parse_dates = True)#.to_period(freq = 'A')

In [246]:
test.index = test.index.astype(str)

In [265]:
index = pd.to_datetime(test.index, format = '%Y-%m-%d').to_period()

In [179]:
testdf = cpiai
testdf.index = testdf.index.astype(str)

In [188]:
pd.to_datetime(testdf.index).to_period(freq = 'A-DEC')

PeriodIndex(['2006', '2007', '2008'], dtype='period[A-DEC]', freq='A-DEC')

In [143]:
pd.to_datetime(cpiai.index, unit)

DatetimeIndex(['1970-01-01 00:00:00.002006', '1970-01-01 00:00:00.002007',
               '1970-01-01 00:00:00.002008'],
              dtype='datetime64[ns]', freq=None)

In [165]:
cpiai

        Index  Inflation
2006  198.300       0.76
2006  198.700       0.20
2006  199.800       0.55
2006  201.500       0.85
2006  202.500       0.50
2006  202.900       0.20
2006  203.500       0.30
2006  203.900       0.20
2006  202.900      -0.49
2006  201.800      -0.54
2006  201.500      -0.15
2006  201.800       0.15
2007  202.416       0.31
2007  203.499       0.54
2007  205.352       0.91
2007  206.686       0.65
2007  207.949       0.61
2007  208.352       0.19
2007  208.299      -0.03
2007  207.917      -0.18
2007  208.490       0.28
2007  208.936       0.21
2007  210.177       0.59
2007  210.036      -0.07
2008  211.080       0.50
2008  211.693       0.29
2008  213.528       0.87
2008  214.823       0.61
2008  216.632       0.84
2008  218.815       1.01
2008  219.964       0.53
2008  219.086      -0.40
2008  218.783      -0.14
2008  216.573      -1.01
2008  212.425      -1.92
2008  210.228      -1.03

In [159]:
cpiai

        Index  Inflation
2006  198.300       0.76
2006  198.700       0.20
2006  199.800       0.55
2006  201.500       0.85
2006  202.500       0.50
2006  202.900       0.20
2006  203.500       0.30
2006  203.900       0.20
2006  202.900      -0.49
2006  201.800      -0.54
2006  201.500      -0.15
2006  201.800       0.15
2007  202.416       0.31
2007  203.499       0.54
2007  205.352       0.91
2007  206.686       0.65
2007  207.949       0.61
2007  208.352       0.19
2007  208.299      -0.03
2007  207.917      -0.18
2007  208.490       0.28
2007  208.936       0.21
2007  210.177       0.59
2007  210.036      -0.07
2008  211.080       0.50
2008  211.693       0.29
2008  213.528       0.87
2008  214.823       0.61
2008  216.632       0.84
2008  218.815       1.01
2008  219.964       0.53
2008  219.086      -0.40
2008  218.783      -0.14
2008  216.573      -1.01
2008  212.425      -1.92
2008  210.228      -1.03

In [2]:
import pandas as pd
pd.read_csv("usgs_1930_2014.csv", index_col = 0, parse_dates = True)

,GDP-US $ billion nominal,Population-US million,Total Spending-total $ billion nominal,type
1930-01-01,92.2,123.203,11.92,i
1931-01-01,77.4,124.071,12.17,i
1932-01-01,59.5,124.945,12.44,a
1933-01-01,57.2,125.825,12.62,i
1934-01-01,66.8,126.712,12.81,a
1935-01-01,74.3,127.605,14.78,i
1936-01-01,84.9,128.504,16.76,a
1937-01-01,93.0,129.410,17.22,i
1938-01-01,87.4,130.321,17.68,a
1939-01-01,93.5,131.240,19.05,i
1940-01-01,102.9,132.165,20.42,a
1941-01-01,129.4,133.966,24.35,i
1942-01-01,166.0,135.792,45.58,a
1943-01-01,203.1,137.643,92.71,i
1944-01-01,224.6,139.519,109.95,a
1945-01-01,228.2,141.421,118.18,i
1946-01-01,227.8,143.349,79.71,a
1947-01-01,249.9,145.303,57.73,i
1948-01-01,274.8,147.283,55.08,a
1949-01-01,272.8,149.291,62.71,i
1950-01-01,300.2,151.326,70.33,a
1951-01-01,347.3,153.917,75.94,i
1952-01-01,367.7,156.552,99.90,a
1953-01-01,389.7,159.232,110.05,a
1954-01-01,391.1,161.958,111.33,a
1955-01-01,426.2,164.731,110.72,a
1956-01-01,450.1,167.551,115.80,a
1957-01-01,474.9,170.420,125.46,a
1958-01-01,482.0,173.337,134.73,a
1959-01-01,522.5,176.305,145.75,a
...,...,...,...,...
1985-01-01,4346.7,237.369,1496.29,i
1986-01-01,4590.1,239.595,1592.72,i
1987-01-01,4870.2,241.842,1662.02,i
1988-01-01,5252.6,244.110,1771.33,i
1989-01-01,5657.7,246.399,1904.54,i
1990-01-01,5979.6,248.710,2088.85,i
1991-01-01,6174.0,251.802,2230.30,i
1992-01-01,6539.3,254.933,2353.13,a
1993-01-01,6878.7,258.103,2428.59,a
1994-01-01,7308.7,261.312,2514.26,a
1995-01-01,7664.0,264.561,2640.93,a
1996-01-01,8100.2,267.850,2728.78,a
1997-01-01,8608.5,271.180,2826.20,a
1998-01-01,9089.1,274.552,2934.49,a
1999-01-01,9665.7,277.966,3059.39,a
2000-01-01,10289.7,281.422,3249.60,a
2001-01-01,10625.3,284.184,3439.99,i
2002-01-01,10980.2,286.974,3709.39,a
2003-01-01,11512.2,289.790,3815.15,i
2004-01-01,12277.0,292.635,4151.23,a
2005-01-01,13095.4,295.507,4412.25,a
2006-01-01,13857.9,298.145,4720.89,a
2007-01-01,14480.3,300.807,4948.04,a
2008-01-01,14720.3,303.492,5360.08,a
2009-01-01,14417.9,306.202,5974.77,a
2010-01-01,14508.2,308.936,5967.28,a
2011-01-01,14958.6,311.576,6162.33,a
2012-01-01,15547.4,314.239,6150.02,e
2013-01-01,16797.5,316.925,6081.98,g
2014-01-01,17332.3,319.634,6269.81,g

In [100]:

cpiai = pd.read_csv("cpiai.csv", index_col = 0, parse_dates = True).to_period(freq='A-DEC')

In [46]:
13857.9 / 6874

2.0159877800407333

In [71]:
13857.9 / 201.591667 * 100

6874.242475508673

In [74]:
cpiai['2007'].mean()

Index        207.342417
Inflation      0.334167
dtype: float64

In [75]:
14480.3 / 207.342417 * 100

6983.761552273214